.md-header__button.md-logo {
  margin-top: 30;
  margin-bottom: 0;
  padding-top: 30;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 200%;
  width: 130%;
}

.md-header__title {
  flex-grow: 2;
  font-size: 1.2rem;
  line-height: 3rem;
}
[data-md-color-scheme="default"] {
  .md-typeset h1 {
    color: #000000;
  }
}
/* Dark mode */
[data-md-color-scheme="slate"] {
  .md-typeset h1 {
    color: #FFFFFF;
  }
}

.col-red {
  color: #EE0F0F;
}
.col-green {
  color: #009000;
}